title = ""
url = "/visualize"
is_hidden = 1
==
<?
function onStart()
{

    var_dump($_POST);

    $part1 = "id_umv_flixproject_attributes = ";
    $part2 = " and value";
    $where = [];

    foreach($_POST as $key => $value) {
        $temp = preg_split('/-/',$key);
        $id_attr = $temp[0];
        $type = $temp[1];
        switch($type) {
            case 'text':
                $where[] = "(".$part1.$id_attr.$part2." like "."'%".$value."%'".")";
            break;
            case 'decimal':
                $percent = $value * 10 / 100;
                $where[] = "(".$part1.$id_attr.$part2." between ".($value - $percent)." and ".($value + $percent).")";
            break;
            case 'integer':
                $percent = $value * 10 / 100;
                $where[] = "(".$part1.$id_attr.$part2." between ".($value - $percent)." and ".($value + $percent).")";
            break;
            case 'textarea':
                $where[] = "(".$part1.$id_attr.$part2." like "."'%".$value."%'".")";
            break;
            case 'switch':
                $where[] = "(".$part1.$id_attr.$part2." = "."1".")";
            break;
            case 'checkboxlist':
                foreach($value as $_value) {
                    $where[] = "(".$part1.$id_attr.$part2." like "."'%".$_value."%'".")";
                }
            break;     
            case 'radio':
                $where[] = "(".$part1.$id_attr.$part2." = "."'".$value."'".")";
            break;
            case 'select':
                $where[] = "(".$part1.$id_attr.$part2." = "."'".$value."'".")";
            break;
        }
    }

    var_dump($where);

    $query = DB::table("umv_flixproject_plans_attributes")
    ->groupBy("id_umv_flixproject_plans")
    ->select("id_umv_flixproject_plans as id", DB::raw("COUNT(id_umv_flixproject_plans) AS total"))
    ->orderBy("id","desc")
    ->orderBy("total","desc")
    ->whereRaw(implode(" or ",$where))
    ->get();

    var_dump($query);

    $ids = array();
    $relevance = array();

    foreach($query as $key => $item) {
        $ids[] = $item->id;
        $relevance[$item->id] = ["relevance" => $item->total];
    }

    var_dump($ids,$relevance);

    $query = DB::table("umv_flixproject_plans_attributes")
    ->leftJoin("umv_flixproject_attributes","umv_flixproject_plans_attributes.id_umv_flixproject_attributes","umv_flixproject_attributes.id")
    ->select("umv_flixproject_plans_attributes.id_umv_flixproject_plans","umv_flixproject_plans_attributes.id_umv_flixproject_attributes",
            "umv_flixproject_plans_attributes.value","umv_flixproject_attributes.type")
    ->whereIn("id_umv_flixproject_plans",$ids)
    ->get();

    foreach($query as $item) {
        $relevance[$item->id_umv_flixproject_plans][$item->id_umv_flixproject_attributes]['value'] = $item->value;
        $relevance[$item->id_umv_flixproject_plans][$item->id_umv_flixproject_attributes]['type'] = $item->type;
    }

    var_dump($relevance);
}
?>
==
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{{ "Escolher Planta" }}</title>
    </head>
    <body>
    </body>

    <footer>
    </footer>
</html>