title = ""
url = "/wizard"
is_hidden = 1
==
<?
function onStart()
{
    $this["attrs"] = DB::table("umv_flixproject_attributes")->orderBy("order","asc")->get();
    //var_dump($x);

    $this['code'] = new class {
        function buildForm($att) {
            switch($att->type) {
                case 'label':
                    echo '<h2 style="color:#ffffff; background-color:#6c757d; padding:5px;">'.$att->value.'</h2>';
                break;
                case 'text':
                    echo '<input type="text" value="" name="'.$att->id.'-text" class="complete" style="height:30px;">';
                break;
                case 'decimal':
                    echo '<input type="number" value="" name="'.$att->id.'-decimal" class="complete inputdecimal" style="height:30px;">';
                break;
                case 'integer':
                    echo '<input type="number" value="" name="'.$att->id.'-integer" class="complete inputinteger" style="height:30px;">';
                break;
                case 'textarea':
                    echo '<textarea name="'.$att->id.'-textarea" class="complete"></textarea>';
                break;
                case 'switch':
                    $txt = '<div style="float:left; width:100%;">
                        <label class="switch" style="float:left;">
                            <input type="checkbox" class="success" style="margin-left:3px;" value="'.$att->value.'" name="'.$att->id.'-switch">
                            <span class="slider round"></span>
                        </label>
                    </div>';
                    echo $txt;
                break;
                case 'checkboxlist':
                    $temp = preg_split('/;/',$att->value);
                    $txt = "";
                    foreach($temp as $key => $value) {
                        $txt .= '<div style="float:left; width:100%; margin-bottom:10px;"><span style="margin-left:20px;">'.$value.'</span>
                        <label class="switch" style="float:left;">
                            <input type="checkbox" class="primary" style="margin-left:3px;" value="'.$value.'" name="'.$att->id.'-checkboxlist[]" >
                            <span class="slider round"></span>                            
                        </label>
                    </div>';
                    }
                    echo $txt;
                break;     
                case 'radio':
                    $temp = preg_split('/;/',$att->value);
                    $txt = "";
                    foreach($temp as $key => $value) {
                        $txt .= '<div style="float:left; width:100%; margin-bottom:10px;"><span style="margin-left:20px;">'.$value.'</span>
                        <label class="switch" style="float:left;">
                            <input type="radio" class="primary" style="margin-left:3px;" value="'.$value.'" name="'.$att->id.'-radio" >
                            <span class="slider"></span>                            
                        </label>
                    </div>';
                    }
                    //$txt .= '<div style="float:left; width:100%; margin-bottom:10px;"><span style="margin-left:20px;">Nenhum</span>
                    //    <label class="switch" style="float:left;">
                    //        <input type="radio" class="primary" style="margin-left:3px;" value="" name="'.$att->id.'-radio" checked>
                    //        <span class="slider"></span>                            
                    //    </label>
                    //</div>';
                    echo $txt;
                break;
                case 'select':
                    $temp = array_merge([""],preg_split('/;/',$att->value));
                    $txt = '<label for="'.$att->id.'" class="complete"></label>
                            <select name="'.$att->id.'-select" class=" complete">';
                    foreach ($temp as $key => $value) {
                        $txt .= '<option value="'.$value.'">'.$value.'</option>';
                    }
                    $txt .= '</select>';
                    echo $txt;
                break;
                default:
                    echo "INVÁLIDO";
                break;
            }
        }
    };
}
?>
==
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{{ "Escolher Planta" }}</title>
        <link href="themes/demo/assets/css/custom-wizard-example.css" rel="stylesheet">
        <script src="themes/demo/assets/javascript/jquery-3.3.1.min.js"></script>
        <script src="themes/demo/assets/javascript/jquery.steps.min.js"></script>
        <script src="themes/demo/assets/javascript/jquery.validate.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
            .complete {
                width:100%;
                float:left;
            }

            /* The switch - the box around the slider */
            .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            float:right;
            }

            /* Hide default HTML checkbox */
            .switch input {display:none;}

            /* The slider */
            .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            }

            .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            }

            input.default:checked + .slider {
            background-color: #444;
            }
            input.primary:checked + .slider {
            background-color: #2196F3;
            }
            input.success:checked + .slider {
            background-color: #8bc34a;
            }
            input.info:checked + .slider {
            background-color: #3de0f5;
            }
            input.warning:checked + .slider {
            background-color: #FFC107;
            }
            input.danger:checked + .slider {
            background-color: #f44336;
            }

            input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
            border-radius: 34px;
            }

            .slider.round:before {
            border-radius: 50%;
            }

            .wizard>.steps>ul>li {
                width: 5%;
                text-align:center;
            }
        </style>
    </head>
    <body>
            <form id="example-advanced-form" action="/visualize" method="POST">

                    {% for item in attrs %}
                        {% if item.type != 'file' %}
                            <h3></h3>
                            <fieldset>
                                <legend>{{ item.label }}</legend>
                                {{ code.buildForm(item) }}
                                <p style="float:left; margin-top:20px;">(*) Obrigatório</p>
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                </form>
    </body>

    <footer>
<script>// Initialize wizard
$(function ()
        {

       var form = $("#example-advanced-form").show();
 
 form.steps({
     headerTag: "h3",
     bodyTag: "fieldset",
     transitionEffect: "slideLeft",
     onStepChanging: function (event, currentIndex, newIndex)
     {
         // Allways allow previous action even if the current form is not valid!
         if (currentIndex > newIndex)
         {
             return true;
         }
         // Forbid next action on "Warning" step if the user is to young
         if (newIndex === 3 && Number($("#age-2").val()) < 18)
         {
             return false;
         }
         // Needed in some cases if the user went back (clean up)
         if (currentIndex < newIndex)
         {
             // To remove error styles
             form.find(".body:eq(" + newIndex + ") label.error").remove();
             form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
         }
         form.validate().settings.ignore = ":disabled,:hidden";
         return form.valid();
     },
     onStepChanged: function (event, currentIndex, priorIndex)
     {
        //  // Used to skip the "Warning" step if the user is old enough.
        //  if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
        //  {
        //      form.steps("next");
        //  }
        //  // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
        //  if (currentIndex === 2 && priorIndex === 3)
        //  {
        //      form.steps("previous");
        //  }
     },
     onFinishing: function (event, currentIndex)
     {
         form.validate().settings.ignore = ":disabled";
         return form.valid();
     },
     onFinished: function (event, currentIndex)
     {
         form.submit();
         //alert("Submitted!");
     }
 }).validate({
     errorPlacement: function errorPlacement(error, element) { element.before(error); },
     rules: {
         confirm: {
             equalTo: "#password-2"
         }
     }
 });

});
</script>
    </footer>
</html>